@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");

body {
    background-color: hsl(0, 0%, 95%);
}

main {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 250px;
    height: 350px;
    padding: 40px;
}

.box img {
    margin: 20px 0 20px 0;
}

.box h1 {
    font-family: "Big Shoulders", sans-serif;
    color: hsl(0, 0%, 95%);
    font-size: 2.3rem;
    font-weight: 700;
    margin: 10px 0 20px 0;
}

.box p {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin: 40px 0 20px 0;
}

.box button {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    padding: 10px;
    width: 9em;
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    border: none;
    margin: 20px 0 0 0;
    cursor: pointer;
}

#box-1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

#box-2 {
    background-color: hsl(184, 100%, 22%);
}

#box-3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

#button-sedan {
    color: hsl(31, 77%, 52%);
}

#button-sedan:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

#button-suv {
    color: hsl(184, 100%, 22%);
}

#button-suv:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

#button-luxury {
    color: hsl(179, 100%, 13%);
}

#button-luxury:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

/* Responsive design */

@media screen and (min-width: 1024px) and (max-width: 2560px) {

    /* Laptop styles here */
    main {
        height: 75vh;
        flex-direction: row;
    }

    .box {
        width: 220px;
        height: 420px;
    }

    .box button{
      margin: 50px 0 0 0;  
    }

    #box-1 {
        border-radius: 10px 0 0 10px;
    }

    #box-3 {
        border-radius: 0 10px 10px 0;
    }
}